
config.env
*.crt
*.env
.env
.env*
# Environment variables & secrets
*.key
# Keys & Certificates
*.pem
*.pub
quarantine/
*.quarantined
# Quarantined test artifacts
.wrangler/
node_modules/
node_modules/
